@media (max-width: 768px) {
    .box1 {
        height: 798px;
    }
    .box2 {
        top: 242px;
    }
    .content {
        max-width: 728px;
    }
    .menu--header {
        display: block;
        width: 642px;
        max-width: 100%;
        max-height: 41px;
        position: absolute;
        left: 0;
        top: 139px;
    }
    .menu_item_link--header {
        margin-left: 0;
        margin-right: 44px;
        margin-top: 8px;
    }
    .slider_lorem {
        top: 344px;
        width: 272px;
        height: 185px;
        margin-left: 23px;
    }
    .slider_lorem_title {
        font-size: 48px;
        max-width: 250px;
        text-overflow: clip;
        overflow: hidden;
    }
    .slider_lorem_header {
        font-size: 24px;
        width: 273px;
        height: 26px;
        text-overflow: clip;
        overflow: hidden;
    }
    .slider_lorem_text {
        width: 273px;
        height: 96px;
        font-size: 16px;
        text-overflow: clip;
        overflow: hidden;
    }
    .slider_phone {
        top: 224px;
        right: 31px;
    }
    .slider_circles {
        top: 675px;
        right: 123px;
    }
    .violet {
        top: 795px;
    }
    .violet_about {
        overflow: hidden;
    }
    .violet_about_text {
        width: 153px;
        height: 134px;
        text-overflow: clip;
        overflow: hidden;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .violet_about_header {
        font-size: 24px;
    }
    .violet_about_icon {
        margin-top: 0;
    }
    main {
        top: 1140px;
    }
    .half_left {
        height: 197px;
        max-width: 255px;
        background-image: none;
        background: white;
        padding: 29px 21px 47px 38px;
        margin-bottom: 21px;
    }
    .half_left_text {
        height: 138px;
        max-width: 251px;
        text-overflow: clip;
        overflow: hidden;
        margin-top: 19px;
    }
    .half_left_header {
        width: 139px;
        height: 48px;
    }
    .half_right_subtitle {
        height: 19px;
        max-height: 19px;
        line-height: 1.1;
        text-overflow: clip;
        overflow: hidden;
    }
    .half_right_text {
        max-width: 265px;
        max-height: 17px;
        text-overflow: clip;
        overflow: hidden;
        margin-top: 5px;
    }
    .logos {
        top: 1651px;
        background-image: url(../img/logos768.png);
        max-width: 725px;
    }
    .grey_column_text {
        max-height: 166px;
        max-width: 194px;
        text-overflow: clip;
        overflow: hidden;
    }
    .grey_column_text--pingbuller {
        max-height: 155px;
    }
    .grey {
        top: 1847px;
    }
    .box7 {
        height: 200px;
        background-image: url(../img/bg768.jpg);
    }
    footer {
        bottom: 130px;
    }
    .author {
        bottom: -44px;
    }
}
@media (max-width: 480px) {
    .content {
        max-width: 440px;
        overflow: hidden;
    }
    .box1 {
        height: 546px;
    }
    .box2 {
        height: 248px;
        top: 201px;
    }
    .box3 {
        height: 600px;
    }
    .box4 {
        height: 784px;
    }
    .box5 {
        height: 233px;
    }
    .box6 {
        height: 669px;
    }
    .pingbuller {
        float: none;
        margin: 0 auto;
        margin-top: 67px;
    }
    .slider_phone {
        top: 194px;
        right: -78px;
    }
    .slider_phone_image {
        width: 70%;
        height: 70%;
    }
    .slider_lorem_title {
        font-size: 36px;
    }
    .slider_lorem_header {
        font-size: 18px;
    }
    .slider_lorem {
        margin-left: 21px;
        top: 295px;
        max-height: 60px;
        text-overflow: clip;
        overflow: hidden;
    }
    .slider_circles {
        top: 468px;
        right: 172px;
    }
    .violet_about {
        width: 100%;
    }
    .violet_about_column {
        float: none;
    }
    .violet_about_text {
        width: 368px;
        height: 100%;
    }
    .violet_about--first {
        margin-top: -171px;
    }
    .violet_about_icon--first {
        margin-left: 0;
    }
    .violet_about--second, .violet_about--third {
        margin-top: -30px;
    }
    .half {
        width: 100%;
        margin-top: 74px;
    }
    .half_left {
        width: 100%;
    }
    .half_left_text {
        width: 100%;
    }
    .half_left_header {
        width: 100%;
    }
    .half_right {
        margin-top: -62px;
    }
    .logos {
        top: 1960px;
        background-image: url(../img/logos480.png);
        max-width: 345px;
        height: 154px;
    }
    .grey {
        top: 2244px;
    }
    .grey_column {
        width: 100%;
        margin-bottom: 51px;
    }
    .grey_column_text {
        width: 100%;
        max-width: 440px;
        height: 102px;
    }
    .grey_column_header--recent, .grey_column_text--recent, .grey_column_header--news, .grey_column_text--news {
        margin-left: 0;
    }
    .menu--footer {
        max-width: 440px;
        max-height: 30px;
    }
    .menu_item_link--footer {
        margin-right: 21px;
    }
    footer {
        bottom: 198px;
    }
    .author {
        bottom: -107px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 145px;
    }
    .menu_item_link--header {
        float: none;
        text-align: center;
        margin-right: 0;
        width: 226px;
        margin: 0 auto;
        padding: 9px;
    }
    .menu--header:hover {
        max-height: 100%;
        max-width: 100%;
        height: 257px;
        visibility: visible;
        background: url(../img/bg_drop.png) center center no-repeat;
        z-index: 1;
        opacity: 0.8;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    }
    .menu_item_link--header:hover {
        background: url(../img/bg_hover.png) center center no-repeat;
        border-top: 1px solid #503d58;
        border-collapse: collapse;
    }
}
@media (max-width: 320px) {
    .box1 {
        height: 514px;
    }
    .box2 {
        height: 0;
    }
    .box5 {
        height: 422px;
    }
    .box6 {
        height: 0;
    }
    .logos {
        top: 1950px;
        background-image: url(../img/logos320.png);
        max-width: 248px;
        height: 294px;
    }
    .content {
        max-width: 280px;
    }
    .slider_phone {
        width: 0;
        height: 0;
    }
    .slider_lorem {
        max-width: 203px;
        margin-left: 34px;
    }
    .circles {
        top: 424px;
        right: 103px;
    }
    .violet_about_text {
        width: 198px;
        height: 69px;
    }
    .violet {
        top: 755px;
    }
    .half {
        margin-top: 47px;
    }
    .half_left {
        max-width: 197px;
    }
    .half_left_text {
        height: 162px;
        max-width: 178px;
        margin-top: 5px;
    }
    .half_left_header {
        max-height: 46px;
        max-width: 107px;
        font-size: 24px;
    }
    .grey {
        width: 0;
        height: 0;
        text-overflow: clip;
        overflow: hidden;
    }
    .half_right {
        margin-left: 0;
    }
    .half_right_subtitle {
        max-width: 154px;
        max-height: 17px;
        text-overflow: clip;
        overflow: hidden;
        margin-bottom: 0;
    }
    .half_right_text {
        margin-left: 66px;
        max-width: 216px;
        text-overflow: clip;
        overflow: hidden;
    }
    .half_right_header {
        margin-top: 59px;
    }
    .menu--footer {
        width: 0;
        height: 0;
    }
    .author {
        bottom: -51px;
    }
}